<!doctype html>
<html>
<head></head>

<body>
	<div id="app">

	
		
	x<input type="text" v-model="x">
	+
	y<input type="text" v-model="y">
	<input type="button" value="calculate" v-on:click="sumXY()">
	<div>Sum = {{sum}}</div>


	
	</div>
<ol>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
</ol>
<button id="stergere">Sterge</button>
	
	
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>