<!doctype html>
<html>
<head></head>

<body>
	<div id="app">

	
		
	x<input type="text" v-model="x">
	+
	y<input type="text" v-model="y">
	<input type="button" value="calculate" v-on:click="sumXY()">
	<div>Sum = {{sum}}</div>
	</div>

<div id="container">
	<div class="verde"></div>
</div>


<p>Paragraful NR {{i}}”, 1<=i<=10</p>
<p>Paragraful NR {{i}}”, 2<=i<=10</p>
<p>Paragraful NR {{i}}”, 3<=i<=10</p>
<p>Paragraful NR {{i}}”, 4<=i<=10</p>
<p>Paragraful NR {{i}}”, 5<=i<=10</p>
<p>Paragraful NR {{i}}”, 6<=i<=10</p>
<p>Paragraful NR {{i}}”, 7<=i<=10</p>
<p>Paragraful NR {{i}}”, 8<=i<=10</p>
<p>Paragraful NR {{i}}”, 9<=i<=10</p>
<p>Paragraful NR {{i}}”, 10<=i<=10</p>

<ol>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
  <li>Element NR {{i}}”, 1<=i<=10</li>
</ol>
<button id="stergere">Sterge</button>


	
	
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>